# .env.example

APP_NAME=CollabTask     # Name of the app
APP_VERSION=0.0.1       # Version of the app
DEBUG=false             # Enable debug mode
HOST=localhost          # Host for the server
PORT=8000               # Port for the server
ALLOWED_ORIGINS=[*]     # Allowed origins for CORS
