# .env.example

# Application data
APP_NAME=CollabTask     # Name of the app
APP_VERSION=0.0.1       # Version of the app
DEBUG=false             # Enable debug mode
HOST=localhost          # Host for the server
PORT=8000               # Port for the server
ALLOWED_ORIGINS=[*]     # Allowed origins for CORS

# Database settings
DATABASE_URL=""         # driver://user:password@host:port/database_name

# Authentication
SECRET_KEY = ""                     # key used for JWT
ACCESS_TOKEN_EXPIRE_MINUTES = 30    # 
REFRESH_TOKEN_EXPIRE_DAYS = 7       #